<!DOCTYPE html>
<html>
<head>
  <title>Find Book</title>
</head>
<body>
  {% extends 'layout.html' %}
  {% block content %}

  <h1>Find Book</h1>

  <form action="/find_book" method="GET">
    <label for="searchName">Search by Name:</label>
    <input type="text" id="searchName" name="name" required>
    <button type="submit">Search</button>
  </form>

  {% if book %}
    <div id="searchResult">
      <h2>Search Result</h2>
      <p>Name: {{ book[1] }}</p>
      <p>Author: {{ book[2] }}</p>
      <p>Year Published: {{ book[3] }}</p>
      <p>Book Type: {{ book[4] }}</p>
    </div>
  {% elif error %}
    <p>{{ error }}</p>
  {% endif %}

  {% endblock %}

</body>
</html>
